/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --card-bg: #ffffff;
}

.dark {
  --bg-color: #0f172a;
  --text-color: #f8fafc;
  --card-bg: #1e293b;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
